
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    padding: 10px;
    color: white;
    border: solid white;
    border-radius: 10px;
    background-color: mediumseagreen;
    
}
li{
    float: right;
    margin: auto;
    padding-top: 25px;
    padding-right: 5px;
}
nav{
    height: 100px;
    background-color: rgb(67, 141, 74);
    padding: 10px;
}
